body {
  height: 100%;
}

.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: #607D8B;
  font-family: sans-serif;
}

.score {
  color: rgb(224, 224, 224);
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score h2 {
  font-size: 30px;
}

.score p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.intro {
  color: rgb(224, 224, 223);
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease;
}

.game-over {
  color: rgb(224, 224, 223);
  height: 50vh;
  position: absolute;
  top: 30%;
  left: 40%;
  transition: opacity 0.5s ease;
}

.game-over h1 {
  font-size: 49px;
}

.game-over button {
  width: 149px;
  height: 49px;
  background: none;
  border: none;
  margin: 0px;
  color: rgb(224, 224, 224);
  font-size: 20px;
  margin: 100px 0px 0px 60px;
  background: rgb(61, 165, 133);
  border-radius: 10px;
  cursor: pointer;
  transition-duration: .2s;
}

button:focus,
button:active {
  outline: none;
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  -webkit-transform: translate();
}

.game-over button:hover {
  background-color: #fff;
  color: black;
  transform: scale(1.09);
  -webkit-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -ms-transform: scale(1.09);
  -o-transform: scale(1.09);
}

.intro h1 {
  font-size: 50px;
}

.intro button,
.match button {
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color: rgb(224, 224, 224);
  font-size: 20px;
  background: rgb(61, 165, 133);
  border-radius: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition-duration: .2s;
}

.intro button:hover,
.match button:hover {
  background-color: #fff;
  color: black;
  transform: scale(1.09);
  -webkit-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -ms-transform: scale(1.09);
  -o-transform: scale(1.09);
}

.match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}

.winner {
  color: rgb(224, 224, 224);
  text-align: center;
  font-size: 50px;
}

.intro p {
  font-size: 20px;
}
.hands,
.options {
  display: flex;
  align-items: center;
}
  .options button:nth-child(1) {
    margin-left: 55px;
  }

  .options button:nth-child(2),
  .options button:nth-child(3) {
    margin-left: 30px;
  }


.player-hand {
  transform: rotateY(180deg);
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
  transition-duration: 1s;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
  transition-delay: .5s;
  transition-duration: 1s;

}

@keyframes shakePlayer {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }

  15% {
    transform: rotateY(180deg) translateY(-30px);

  }

  25% {
    transform: rotateY(180deg) translateY(0px);
  }

  35% {
    transform: rotateY(180deg) translateY(-30px);

  }

  50% {
    transform: rotateY(180deg) translateY(0px);
  }

  65% {
    transform: rotateY(180deg) translateY(-30px);

  }

  75% {
    transform: rotateY(180deg) translateY(0px);
  }

  85% {
    transform: rotateY(180deg) translateY(-30px);

  }

  100% {
    transform: rotateY(180deg) translateY(0px);
  }
}

@keyframes shakeComputer {
  0% {
    transform: translateY(0px);
  }

  15% {
    transform: translateY(-30px);

  }

  25% {
    transform: translateY(0px);
  }

  35% {
    transform: translateY(-30px);

  }

  50% {
    transform: translateY(0px);
  }

  65% {
    transform: translateY(-30px);

  }

  75% {
    transform: translateY(0px);
  }

  85% {
    transform: translateY(-30px);

  }

  100% {
    transform: translateY(0px);
  }
}


@media screen and (max-width: 480px) {
  .intro h1 {
    font-size: 25px;
  }

  .match h2 {
    font-size: 40px;
  }

  .match .hands .player-hand {
    margin-left: 10px;
    height: 200px;
  }

  .match .hands .computer-hand {
    margin-left: 10px;
    height: 200px;
  }

  .options button {
    height: 40px;
    width: 100px;
  }

  .options button:nth-child(1) {
    margin-left: 55px;
  }

  .options button:nth-child(2),
  .options button:nth-child(3) {
    margin-left: 30px;
  }
  .game-over h1{
    font-size: 40px;
    margin-left: 33px;
  }
  .game-over{
    position: absolute;
    top: 30%;
    left: 20%;  
  }
}
